/*--------------- Colors---------------------*/
$clay: rgb(33, 41, 48);
$white: #ffffff;
$tradewind: #72c3a9;
$text-color: #7f8181;


/*--------------- Typography---------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
$text-font: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
$header-font: 'Raleway', sans-serif;